/* Assign grid instructions to our parent grid container */
.grid-container {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-areas: "sidenav main";
	height: 100vh;
}

.sidenav {
	display: flex; 
	flex-direction: column;	
	grid-area: sidenav;
	background-color: #1c1b1e;
}
.sidenav img{
	padding: 20px;
}

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list-item {
	padding: 20px 20px 20px 40px;
	color: #ddd;
}

.sidenav__list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.main {
	grid-area: main;
	background-color: #1c1b1e;
}

.main-overview {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
	grid-auto-rows: 94px;
	grid-gap: 20px;
	margin: 20px;
}

.overviewcard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #66dad9;
    border-radius: 10px; 
    color: #fff;
}

.main-cards {
	column-count: 2;
	column-gap: 20px;
	margin: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #fff;
    border-radius: 10px;
	margin-bottom: 20px;
	-webkit-column-break-inside: avoid;
	padding: 24px;
	box-sizing: border-box;
}

@media only screen and (max-device-width: 375px) {   
    .sidenav {
      display: none;
    }
    .grid-container {
	    grid-template-columns: 1fr;
	    grid-template-areas: "main";
	}
 }

.ph-0 {
    background-color: red !important;
}

.ph-1 {
    background-color: orangered !important;
}

.ph-2 {
    background-color: orange !important;
}

.ph-3 {
    background-color: yellow !important;
}

.ph-4 {
    background-color: yellowgreen !important;
}

.ph-5 {
    background-color: greenyellow !important;
}

.ph-6 {
    background-color: limegreen !important;
}

.ph-7 {
    background-color: green !important;
}

.ph-8 {
    background-color: chartreuse !important;
}

.ph-9 {
    background-color: turquoise !important;
}

.ph-10 {
    background-color: teal !important;
}

.ph-11 {
    background-color: blue !important;
}

.ph-12 {
    background-color: plum !important;
}

.ph-13 {
    background-color: purple !important;
}

.ph-14 {
    background-color: rebeccapurple !important;
}
